*{
    box-sizing: border-box;
    background-color: rgb(196, 198, 211);
    
}

.svg{
    margin-left: 10vw;
    margin-top: 10vh;
    border-radius: 50px;
    box-shadow: 5px 5px 25px inset rgb(39, 38, 38), -2px -2px 25px inset rgb(238, 238, 238);
}

